@using TicTac.Shared
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR.Client;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject HubConnection HubConnection

<AuthorizeView>
    <Authorized>
        <div>@ArePlaying</div>
        @*<div>@context.User.Identity.Name</div>*@
        <p>&nbsp;</p>

        <ToeRegister started=_started 
                        finished=_finished
                        connected=IsConnected
                        registered=_registered
                        Register="@Register" />


        @if (_registered && !_started)
        {
            <div>Waiting for game to start...</div>
        }
        else if (_started)
        {
            <ToeTurn finished=_finished myTurn=_myTurn style=_style />
            <ToeBoard board=_board CallPieceClicked="@(async (arg,arh) => await PieceClicked(arg,arh))" />
            <ToeFinished board=_board style=_style finished=_finished />
        }
    </Authorized>
    <NotAuthorized>
        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>

@code {
    GameBoard _board;
    private bool _registered = false;
    private bool _started = false;
    private bool _finished = false;
    private string _myName;
    private string _opponentName;
    private bool _amiFirst;
    private bool _myTurn = false;
    private string _connectionId;
    private PieceStyle _style = PieceStyle.Blank;
    private PieceStyle _opponentStyle => _style == PieceStyle.X ? PieceStyle.O : PieceStyle.X;
    private bool IsConnected => HubConnection.State == HubConnectionState.Connected;
    private string ArePlaying => _started ? $"{_myName} vs. {_opponentName}" : $"{_myName}";

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(_started);
        Console.WriteLine(_finished);
        HubConnection.On<string>("Register", message =>
        {
            Console.WriteLine($"{message}");
            _registered = true;
            _started = false;
            _finished = false;
            StateHasChanged();
        });

        HubConnection.On<string, string, bool>("GameStart", (myName, opponentName, first) =>
        {
            _started = true;
            _myName = myName;
            _opponentName = opponentName;
            _amiFirst = first;
            if (first)
            {
                _myTurn = true;
                _style = PieceStyle.X;
            }
            else
            {
                _myTurn = false;
                _style = PieceStyle.O;
            }
            _registered = false;
            _board = new GameBoard();
            StateHasChanged();
        });

        HubConnection.On<string, string>("broadcastMessage", (from, message) =>
        {
            Console.WriteLine($"From: {from}, Message: {message}");
        });

        HubConnection.On<PieceClick>("NotifyMove", (click) =>
        {
            Console.WriteLine($"{click.Style} clicked ({click.X},{click.Y}) ");
            _board.PieceClicked(click.X, click.Y, _opponentStyle);
            _finished = _board.IsFinished;
            _myTurn = true;
            StateHasChanged();
        });

        _connectionId = HubConnection.ConnectionId;
        Console.WriteLine(_connectionId);

        await HubConnection.StartAsync();
    }

    public async Task Register()
    {
        _registered = true;
        _started = false;
        _finished = false;
        await Http.GetAsync($"toe/register/{HubConnection.ConnectionId}");
    }

    public async ValueTask DisposeAsync()
    {
        if (HubConnection is not null)
        {
            await HubConnection.DisposeAsync();
        }
    }

    public async Task PieceClicked(int x, int y)
    {
        if (_myTurn && !_finished)
        {
            if (_board.PieceClicked(x, y, _style))
            {
                await Http.PostAsJsonAsync<PieceClick>("toe/move", new PieceClick
                {
                    X = x,
                    Y = y,
                    Player = _myName,
                    Style = _style
                });
                _finished = _board.IsFinished;

                _myTurn = false;
                StateHasChanged();
            }
        }
    }
}